@use '../../styles/variables.scss' as colors;
.navbar{
  z-index: 100;
  color: #fff;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: colors.$BackgroundBlue;
  .popup{
    position: absolute;
    color: black
  }
  li{
    float: left;
    cursor: pointer;
    border-right:1px solid #bbb;
    a{
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      user-select: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
    }
    :hover{
      transition-duration: 150ms;
      background: rgb(70, 70, 70);
    }
  }
  .rightItem{
    float: right;
    border-left:1px solid #bbb;
    border-right: 0;
  }
}
