@use 'variables.scss' as colours;

html,
body,
#__next {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

}

* {
  font-family: 'Montserrat', sans-serif;
}


.page-container {
  width: 100%;
  height: 100%;
}